inappropriate-video-detect/lambda-s3-rekognition/.classpath
inappropriate-video-detect/lambda-s3-rekognition/.factorypath
inappropriate-video-detect/lambda-s3-rekognition/.project
inappropriate-video-detect/lambda-s3-rekognition/.settings/
inappropriate-video-detect/lambda-s3-rekognition/target/
